
body {
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height:auto;
    background: #111;

   /* background-image: url('subway.jpg'), url('plain_blackpng.png');*/
    background-color: rgb(0, 0, 0);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    margin:0;
    
}
.list{
    position: relative;
    box-shadow: -10px 0px 28px 1px #606060;
    background: #fff;
    width: 50%;
    height: 100%;
    border-radius: 5px;
}
.list h2{
    background: #010b10;
    text-align: center;
    color:#fff;
    padding: 10px 20px;
    font-weight: 600;
    margin-top: 0;
}
.list ul{
    position: relative;
    padding: 20px;
}
.list ul li{
    position: relative;
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.list ul li:last-child{
    border-bottom:none
}
.list ul li label{
    position:relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    cursor:pointer;
}
.list ul li label input{
    visibility: hidden;
    appearance: none;
}
.list ul li label p{
    position: absolute;
}
.list ul li label span{
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list ul li label span:before{
    content: '';
    
    top: 5px;
    width: 3px;
    height: 11px;
    border-left: 2px solid #ccc;
    border-top: 2px solid #ccc;
    transform: rotate(230deg);
    
}

.list ul li label input:checked ~ p{
    text-decoration: line-through;
    color:#111; 

}
.list ul li label input:checked ~ span{
    background: #010b10;
    border: 1px solid #010b10;
}
.list ul li label input:checked ~ span:before{
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
}
h1{
    justify-content: left; 
    text-align:center;
    letter-spacing: 14px;
    font-size: 500%;
    color: azure;
    width: 50%;
    
}


  
